{% extends "layout.html" %}
{% block content %}
    <h2>About<h2>
    <h3>Vitae Mecum, or Vitum, is a personal project that I am working on. The inspiration came from
        <a href="https://github.com/busterbenson/public/blob/master/Codex.md">Vitae Codex</a> and the concept of a
        <a href="https://en.wiktionary.org/wiki/vade_mecum">Vade Mecum</a>. The goal is to have an app that stores all
        the disparate pieces of info that make up the story of my life under an interface that makes the information
        easy to reference and manipulate.<h3>
{% endblock %}