{% extends "layout.html" %}

{% block content %}
    <h2>Create Journal Entry for {{date}}</h2>

    {% for message in form.date.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.entry.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if date %}
        <form action="{{ url_for('edit_journal', date=date) }}" method=post>
    {% else %}
        <form action="{{ url_for('add_journal') }}" method=post>
    {% endif %}
        {{ form.hidden_tag() }}

        {{ form.date.label }}
        {{ form.date }}

        {{ form.entry.label }}
        {{ form.entry }}

        {{ form.submit }}
    </form>

{% endblock %}